@import url('https://fonts.googleapis.com/css?family=Montserrat:700|Open+Sans&display=swap');

body{
  font-size: 1rem;
  background: white;
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
  z-index: 1;
}
.App {
  text-align: center;
}
.App-header {
  position: relative;
  min-height: 55rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  top:3rem;
}
.App-header img {
  position: relative;
  top:-1rem;
  margin-left:-50rem;
}
.heading-background{
  position: fixed;
  opacity: 0.05;
  font-size: 25rem;
  left:-0.2rem;
  top:-0.5rem;
  z-index: -100;
  color:black;
}
header{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
header h1{
font-size: 1rem;
font-weight: 400rem;  
padding: 1rem;
margin-right: 50rem;
}
nav{
  position:fixed;
  left:60rem;
  top:3rem;
  z-index: 100;
  display:flex;
}
nav li{
  display: inline-block;
  cursor: pointer;

}
nav li .link{
  text-decoration: none;
  color:black;
  padding:1rem;
  opacity: 0.5;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
li .link:hover{
  opacity: 1;
}
.active{
  color:#69748D;
  opacity: 1;
}
.header-title img {
  margin-left:1rem;
  width: 35rem;
  margin-top:-1rem;
}
.header-title button{
  background:#69748D;
  border: 0rem;
  padding: 1rem 3rem;
  margin-top:2rem;
  transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
}
.header-title button:hover{
  opacity: 0.8;
}
.header-title button a{
  font-family: 'Open Sans', sans-serif;
  color:white;
  text-decoration: none;
}
.header-title{
  position: relative;
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  text-align: left;
  top:2rem;
}
.about{
  display: flex;
  flex-direction: row;
}
.about-content{
  position: relative;
  left:15rem;
}
.about-content h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 5rem;
  text-align: left;
}
.about-content p{
  font-size: 1.3rem;
  text-align: left;
  width: 37rem;
}
.about img{
  margin-left:18rem;
}
.work{
  position: relative;
  display: flex;
  flex-direction: column;
  left:15rem;
  top:5rem;
  align-items: flex-start;
}
.work .heading{
  font-family: 'Montserrat', sans-serif;
  font-size: 5rem;
  text-align: left;
}
.work .work-content{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 2rem;
}

.work h1{
  font-size:1rem;
}

.project img{
  width: 28rem;  
  height: 23rem;
}
.contact{
  position: relative;
  top:8rem;
  left:15rem;
  text-align: left;
}
.contact h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 5rem;
  text-align: left;
}
.contact-content{
  margin-top:-3rem;
}
.amazing-color{
  color:#69748D;
  opacity: 1;
  font-size: 2rem;
}
.contact .email{
  color:#69748D;
  font-size: 1.3rem;
}
.contact li{
  display: inline-block;
  margin-top:0rem;
  margin-bottom: 0rem;
  margin-right: 1rem;
  margin-left: 0rem;
}
.contact li a{
  text-decoration: none;
  color:black;
}