@media only screen and (min-device-width: 320px) and (max-device-width : 480px){
    body{
        font-size: 6px;
    }
    header h1{
        font-size: 5em;  
        padding: 1em;
        margin-right: 0em;
    }
    nav{
        display: none;
    }
    .App-header img {
        position: relative;
        top:-1rem;
        display: block;
        margin: 0 auto;
        height:5rem;
        width: 20rem;
      }
    .header-title{
        font-size: 4em;
        text-align: center;
        top:1em;
        left:1em;
    }
    .header-title img {
        display: block;
        margin: 0 auto;
        height:10rem;
        width: 15rem;
        margin-top:-1rem;
        justify-content: center
      }
    .about{
        position: relative;
        display: flex;
        top:-50em;
        font-size:1em;
    }
    .about-content h1{
        font-size: 6em;
    }
    .about img{
        display: none
    }
    .about-content{
        left:2em;
    }
    .about-content p{
        font-size: 3.5em;
        text-align: left;
        width: 300px;
    }
    .work{
        left:2em;
        top:-50em;
        align-items: flex-start;
    }
    .work .heading{
        font-size: 6em;
    }
    .work .work-content{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 5em;
    }
    .project img{
        width: 45em;  
        height: 45em;
    }
    .contact{
        position: relative;
        display:flex;
        top:-50em;
        left:2em;
    }
    .contact h1{
        font-size:6em;
        padding-bottom:0.5em;
    }
    .amazing-color{
        font-size: 2em;
    }
    .contact .email{
        margin-top:10em;
        font-size: 3em;
    }
    .contact li{
        display: block;
        padding: 0.5em;
    }
    .contact li a{
        font-size: 2.5em;
        padding-bottom:-1em;
    }
}
@media only screen and (min-width: 600px){
    html { /* tablet */
        font-size:15px;
    }
}
@media only screen and (min-width: 768px){
    html { /* desktop */
        font-size:17px;
    }
}