@media only screen and (min-device-width: 320px) and (max-device-width : 480px){ /* mobile */
    body{
        font-size: 6px;
    }
    header h1{
        font-size: 5em;  
        padding: 1em;
        margin-right: 0em;
    }
    nav{
        display: none;
    }
    .App-header img {
        position: relative;
        top:-1rem;
        display: block;
        margin: 0 auto;
        height:4rem;
        width: 20rem;
        margin-left:1rem;
    }
    .header-title{
        font-size: 4em;
        text-align: center;
        top:1em;
        left:1em;
    }
    .header-title img {
        display: flex;
        margin: 0 auto;
        height:10rem;
        width: 15rem;
        margin-top:-1rem;
        justify-content: center;
    }
    .about{
        position: relative;
        display: flex;
        top:-50em;
        font-size:1em;
        margin-left:2rem;
    }
    .about-content h1{
        font-size: 6em;
    }
    .about img{
        display: none
    }
    .about-content{
        left:2em;
    }
    .about-content p{
        font-size: 3.5em;
        text-align: left;
        width: 300px;
    }
    .work{
        left:2em;
        top:-50em;
        align-items: flex-start;
    }
    .work .heading{
        font-size: 6em;
        margin-left:2rem;
    }
    .work .work-content{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 5em;
    }
    .project img{
        width: 45em;  
        height: 45em;
    }
    .contact{
        position: relative;
        display:flex;
        top:-45em;
        left:2em;
        margin-left:2rem;
    }
    .contact h1{
        font-size:6em;
        padding-bottom:0.5em;
    }
    .amazing-color{
        font-size: 2em;
    }
    .contact h2 {
        padding-bottom:1rem;
    }
    .contact .email{
        font-size: 2.5em;
    }
    .contact li{
        display: block;
        padding: 0.5em;
    }
    .contact li a{
        font-size: 2.5em;
        padding-bottom:-1em;
    }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px){ /* tablet */
    body{
        font-size: 10px;
    }
    header h1{
        font-size: 5em;  
        padding: 1em;
        margin-right: 0em;
    }
    nav{
        display: none;
    }
    .App-header img {
        position: relative;
        top:-1rem;
        display: flex;
        margin: 0 auto;
        margin-left:5rem;
        height:8rem;
        width: 40rem;
    }
    .header-title{
        font-size: 5em;
        text-align: center;
        top:1em;
        left:1em;
    }
    .header-title img {
        display: flex;
        margin: 0 auto;
        height:20rem;
        width: 30rem;
        margin-top:-1rem;
        justify-content: center
    }
    .about{
        position: relative;
        display: flex;
    }
    .about img{
        display: none
    }
    .about-content{
        left:6em;
    }
    .about-content p{
        font-size: 3.5em;
        text-align: left;
        width: 700px;
    }
    .work{
        left:6em;
        top:4em;
        align-items: flex-start;
    }
    .work .work-content{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 5em;
    }
    .project img{
        width: 30em;  
        height: 30em;
    }
    .contact{
        position: relative;
        display:flex;
        top:10em;
        left:2em;
        margin-left:2rem;
        font-size:1em;  
    }
    .contact h1{
        font-size:8em;
    }
    .amazing-color{
        font-size: 2em;
    }
    .contact h2 {
        padding-bottom:1rem;
    }
    .contact .email{
        font-size: 2.5em;
    }
    .contact li{
        display: block;
        padding: 0.5em;
    }
    .contact li a{
        font-size: 2.5em;
        padding-bottom:-1em;
    }
}
